body {
    font-family: Arial, Helvetica, sans-serif;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header2 {
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.header2 h1 {
    font-size: 50px;
}
.header-buttons {
    display: flex;           
    justify-content: center; 
    align-items: center; 
    gap: 50px;   
    padding: 12px 24px; 
     
         
}
.header-buttons button {
    background-color: rgb(90, 90, 230);
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: white;
    
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;     
    
}

.overview ul {
    list-style: none;
    display: flex;
    gap: 100px;
    color: white;
}

.customer-support {
    display: flex;
    justify-content:space-around;
    padding: 50px;
}

.customer-support-text {
    line-height: 2.5;
}

.sales-monitoring {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.sales-monitoring-text {
    line-height: 2.5;
}

.growth-monitoring {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.growth-monitoring-text {
    line-height: 2.5;
    display: block;
}
.stats {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.stats-box {
    display: block;
    justify-content: center;
}

.frequently-asked-questions {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.frequently-asked-questions-text {
    line-height: 2;
}
.frequently-asked-questions h1 {
    line-height: 1;
}
.flexible-plans-for-you-text {
    display: flex;
    justify-content: center;
    
}

.price-box {
    display: flex;
    justify-content: space-evenly;

}


.free-trial {
    line-height: 2;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 244, 255);
    height: 500px;
}

.free-trial button {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: blue;
    align-self: center;
    margin-top: auto;
    padding: 10px;
    width: 300px;
}

.business {
    line-height: 2;
    color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(67, 40, 235);
    height: 500px;
    
}
.business button {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: blue;
    align-self: center;
    margin-top: auto;
    padding: 10px;
    width: 300px;
}

.enterprice {
    line-height: 1.5;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 244, 255);
    height: 500px;
}

.enterprice button {
    background-color: white;
    border: none;
    color: blue;
    border-radius: 10px;
     align-self: center;
    margin-top: auto;
    padding: 10px;
    width: 300px;
    
}







.hero {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;

    /* layered gradients for smooth transitions */
    background:
        /* Top half white fading into bottom */
        linear-gradient(to bottom, white 0%, white 50%, rgba(255,255,255,0) 60%),
        
        linear-gradient(to right, 
            #800080 0%,    /* purple start */
            #800080 70%,   /* purple extends further into bottom half */
            #D2691E 75%,   /* dark peach starts fading */
            #D2691E 100%   /*
        );
    
    


