body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 40px;
    height: 40px;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header2 {
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.header2 h1 {
    font-size: 50px;
}
.header-buttons {
    display: flex;           
    justify-content: center; 
    align-items: center; 
    gap: 50px;   
    padding: 12px 24px; 
     
         
}
.header-buttons button {
    background-color: rgb(90, 90, 230);
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: white;
    
}

.header-buttons p {
    color: blue;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;     
    
}

.overview ul {
    list-style: none;
    display: flex;
    gap: 100px;
    color: white;
}

.customer-support {
    display: flex;
    justify-content:space-around;
    padding: 50px;
}

.customer-support-text {
    line-height: 2.5;
}
.customer-support h3 {
    color: rgb(1, 138, 1);
}


.sales-monitoring {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.sales-monitoring-text {
    line-height: 2.5;
}
.sales-monitoring h3 {
    color: rgb(82, 82, 255);
}

.growth-monitoring {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.growth-monitoring-text {
    display: flex;
    flex-direction: column;
    line-height: 2.5;

}
.growth-monitoring h3 {
    color: rgb(235, 40, 145);
}

.stats {
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.stats-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    
}

.frequently-asked-questions {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.frequently-asked-questions-text {
    line-height: 2;
}
.frequently-asked-questions h1 {
    line-height: 1;
}
.frequently-asked-questions h3{
    color: rgb(235, 40, 145);
}
.frequently-asked-questions p {
    color: #413f41;
}
.flexible-plans-for-you-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.flexible-plans-for-you p {
    color: gray;
}

.price-box {
    display: flex;
    justify-content: space-evenly;

}


.free-trial {
    line-height: 2;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 244, 255);
    height: 500px;
}

.free-trial button {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: blue;
    align-self: center;
    margin-top: auto;
    padding: 10px;
    width: 300px;
}


.business {
    line-height: 2;
    color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(67, 40, 235);
    height: 500px;
    
}
.business button {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: blue;
    align-self: center;
    margin-top: auto;
    padding: 10px;
    width: 300px;
}

.enterprice {
    line-height: 1.5;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 244, 255);
    height: 500px;
}

.enterprice button {
    background-color: white;
    border: none;
    color: blue;
    border-radius: 10px;
     align-self: center;
    margin-top: auto;
    padding: 10px;
    width: 300px;
    
}
.myw {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.monitor-your-web {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1300px;
    border-radius: 15px;
    padding: 50px;
    background-color: rgb(199, 24, 161);
    color: antiquewhite;
}
.monitor-your-web-buttons {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.monitor-your-web-buttons button {
    width: 100px;
    border-radius: 10px;
    border: none;
    color: #800080;

}
.footer-logo {
    display: flex;
    flex-direction:row;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.footer-list {
    display: flex;
    flex-direction: row;
    line-height: 3;
    gap: 100px;
}

.footer-list ul {
    list-style: none;
}

.copywright {
    color: #33255c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}















/* phone universal */

@media (max-width :599px) {
    .header2 h1 {
    font-size: 30px;}
    .head-list {display: none;}
    .sales-monitoring{
        display: block;
    align-items: center;
    justify-content: center;
    
    }
    .growth-monitoring{
        display: block;
    align-items: center;
    justify-content: center;
    
    }
    .customer-support{
         display: block;
    align-items: center;
    justify-content: center;
    
    
    }
    .frequently-asked-questions{
         display: block;
    align-items: center;
    justify-content: center;
    
    
    }
    .plans{ display: block;
    align-items: center;
    justify-content: center;
    
    }

    .flexible-plans-for-you{
        display: block;
    align-items: center;
    justify-content: center;
    
    }

    .price-box{
        display: block;
    align-items: center;
    justify-content: center;
    
    }

    .footer-list {display: none;}
    .mfooter-list{display: block;
    
    text-align: left;
    display: flex;
    flex-direction: row;
    line-height: 3;
    gap: 100px;
    list-style: none;
    }

    .mfooter-list ul {
    list-style: none;}

    .copywright {
        display: block;
    align-items: center;
    justify-content: center;
    
    }

    .socials {
        display: flex;
        flex-direction: row;
        gap: 50px;
    
    }
    .monitor-your-web-buttons{
        display: block;
    align-items: center;
    justify-content: center;

    }
}


/* large phones and tablets */
@media (min-width :600px) and (max-width :767px) {
    .header2 h1 {
    font-size: 30px;}

    .head-list {display: none;}
    .sales-monitoring{
        display: block;
    align-items: center;
    justify-content: center;
    
    }
    .growth-monitoring{
        display: block;
    align-items: center;
    justify-content: center;
    
    }
    .customer-support{
         display: block;
    align-items: center;
    justify-content: center;
    
    
    }
    .frequently-asked-questions{
         display: block;
    align-items: center;
    justify-content: center;
    
    
    }
    .plans{ display: block;
    align-items: center;
    justify-content: center;
    
    }

    .flexible-plans-for-you{
        display: block;
    align-items: center;
    justify-content: center;
    
    }

    .price-box{
        display: block;
    align-items: center;
    justify-content: center;
    
    }

    .footer-list {display: none;}
    .mfooter-list{display: block;
    
    text-align: left;
    display: flex;
    flex-direction: row;
    line-height: 3;
    gap: 100px;
    list-style: none;
    }

    .mfooter-list ul {
    list-style: none;}

    .copywright {
        display: block;
    align-items: center;
    justify-content: center;
    
    }

    .socials {
        display: flex;
        flex-direction: row;
        gap: 50px;
    
    }
    .monitor-your-web-buttons{
        display: block;
    align-items: center;
    justify-content: center;

    }
}


/* medium tablets */
@media (min-width: 768px) and (max-width:991px) {
    .header2 h1 {
    font-size: 30px;}
    .head-list {display: none;}
    .sales-monitoring{
        display: block;
    align-items: center;
    justify-content: center;
    
    }
    .growth-monitoring{
        display: block;
    align-items: center;
    justify-content: center;
    
    }
    .customer-support{
         display: block;
    align-items: center;
    justify-content: center;
    
    
    }
    .frequently-asked-questions{
         display: block;
    align-items: center;
    justify-content: center;
    
    
    }
    .plans{ display: block;
    align-items: center;
    justify-content: center;
    
    }

    .flexible-plans-for-you{
        display: block;
    align-items: center;
    justify-content: center;
    
    }

    .price-box{
        display: block;
    align-items: center;
    justify-content: center;
    
    }

    .footer-list {display: none;}
    .mfooter-list{display: block;
    
    text-align: left;
    display: flex;
    flex-direction: row;
    line-height: 3;
    gap: 100px;
    list-style: none;
    }

    .mfooter-list ul {
    list-style: none;}

    .copywright {
        display: block;
    align-items: center;
    justify-content: center;
    
    }

    .socials {
        display: flex;
        flex-direction: row;
        gap: 50px;
    
    }
    .monitor-your-web-buttons{
        display: block;
    align-items: center;
    justify-content: center;

    }}


/* for laptops */
@media (min-width:992px)and (max-width :1199px) {
    mfooter-list {
        display: none;
    }
}


/* for desktops */
@media (max-width :1200px){ 
    mfooter-list {
        display: none;
    }
}

/* Hide mfooter-list on laptops and desktops */
@media (min-width: 992px) {
    .mfooter-list {
        display: none;
    }
}







.hero {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;

    /* layered gradients for smooth transitions */
    background:
        /* Top half white fading into bottom */
        linear-gradient(to bottom, white 0%, white 50%, rgba(255,255,255,0) 60%),
        
        linear-gradient(to right, 
            #800080 0%,    /* purple start */
            #800080 70%,   /* purple extends further into bottom half */
            #D2691E 75%,   /* dark peach starts fading */
            #D2691E 100%   /*
        );
    
    


        

}